
.logo {
    width: 240px;
    height: 61px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    .logo {
        background-image: url(../assets/Transparence_Logo.png);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .logo {
        background-image: url(../assets/Transparence_Logo_white.png);
    }
}