
.container{padding-top:0px;}
h3 {margin-bottom:0px !important}
p {margin:0;}
article {margin-top:1em;}
header{padding:10% 0}

article header{
    margin-bottom:1em;
}
article footer{
    margin-top:1em;
}

.logo {
    width: 240px;
    height: 61px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    .logo {
        background-image: url(../assets/Transparence_Logo.png);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .logo {
        background-image: url(../assets/Transparence_Logo_white.png);
    }
}